<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" \
          rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <table class="table table-striped" th:if="${cart!=null && cart.getProductMap().size() > 0}">
        <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="productMap : ${cart.productMap}">
            <td th:text="${productMap.key.name}"></td>
            <td th:text="${productMap.key.price}"></td>
            <td th:text="${productMap.value}"></td>
            <td>
                <a th:href="@{/cart/increase(id=${productMap.key.id})}"
                   class="btn btn-success">+</a>
                <a th:href="@{/cart/decrement(id=${productMap.key.id})}"
                   class="btn btn-success">-</a>
            </td>
            <td>
                <button class="btn btn-danger" data-bs-toggle="modal"
                        th:data-bs-target="'#deleteModal' + ${productMap.key.id}">Xóa
                </button>
                <div class="modal fade" th:id="deleteModal + ${productMap.key.id}"
                     data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                     aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">Cảnh báo</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Bạn muốn xóa sản phẩm <span class="text-info"
                                                            th:text="${productMap.key.name}"> ?</span>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-secondary"
                                        data-bs-dismiss="modal">Đóng
                                </button>
                                <a th:href="@{/cart/delete(id=${productMap.key.id})}"
                                   class="btn btn-outline-danger">Xóa</a>
                            </div>
                        </div>
                    </div>
                </div>

            </td>
        </tr>

        <a class="btn btn-success" role="button" th:href="@{/product/list}">Back</a>
        </tbody>
        <tr>
            <td>Total</td>
            <td></td>
            <td></td>
            <td></td>
            <td th:text="${cart.countTotalPayment()}"></td>
            <td></td>
        </tr>
    </table>
    <div class="alert alert-warning" role="alert" th:if="${cart ==null || cart.getProductMap().size() == 0}">
        Giỏ hàng trống
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous">

</script>
</body>
</html>