<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chỉnh sửa thông tin dịch vụ</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body>
<div th:insert="header"></div>
<div class="container">
    <div style="text-align: center">
        <h3>Chỉnh sửa thông tin dịch vụ</h3>
    </div>
    <div style="margin-bottom: 20px">
        <button class="btn btn-success">
            <a th:href="@{/facility/list}" style="color: #ffffff; text-decoration: none">Quay lại</a>
        </button>
    </div>
    <div>
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li th:if="${rentTypeName.equals('Villa')}" class="nav-item" role="presentation">
                <button class="nav-link active" id="pills-villa-tab" data-bs-toggle="pill" data-bs-target="#pills-villa"
                        type="button" role="tab" aria-controls="pills-villa" aria-selected="true">Villa
                </button>
            </li>
            <li th:if="${rentTypeName.equals('House ')}" class="nav-item" role="presentation">
                <button class="nav-link" id="pills-house-tab" data-bs-toggle="pill" data-bs-target="#pills-house"
                        type="button" role="tab" aria-controls="pills-house" aria-selected="false">House
                </button>
            </li>
            <li th:if="${rentTypeName.equals('Room')}" class="nav-item" role="presentation">
                <button class="nav-link" id="pills-room-tab" data-bs-toggle="pill" data-bs-target="#pills-room"
                        type="button" role="tab" aria-controls="pills-room" aria-selected="false">Room
                </button>
            </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div th:if="${rentTypeName.equals('Villa')}" class="tab-pane fade show active" id="pills-villa" role="tabpanel" aria-labelledby="pills-villa-tab">
                <form th:object="${facility}" class=" g-3" th:action="@{/facility/create}" method="post">
                    <div class="row" hidden>
                        <div class="mb-3">
                            <label for="id" class="form-label">Mã dịch vụ</label>
                            <input th:field="*{id}"  class="form-control" id="id" >
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3">
                            <label for="name" class="form-label">Tên dịch vụ</label>
                            <input th:field="*{name}"  class="form-control" id="name">
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3">
                            <label for="area" class="form-label">Diện tích sử dụng</label>
                            <input th:field="*{area}"  class="form-control" id="area">
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3">
                            <label for="cost" class="form-label">Chi phí thuê</label>
                            <input th:field="*{cost}"  class="form-control" id="cost">
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3">
                            <label for="maxPeople" class="form-label">Số lượng người tối đa</label>
                            <input th:field="*{maxPeople}"  class="form-control" id="maxPeople">
                        </div>
                    </div>

                    <div class="row">
                        <div class="mb-3">
                            <label for="rentTypeVilla" class="form-label">Kiểu thuê</label>
                            <select th:field="*{rentType}" class="form-select" aria-label=".form-select-lg example" id="rentTypeVilla">
                                <option th:each="rentType: ${rentTypeList}" th:text="${rentType.getName()}" th:value="${rentType.getId()}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3">
                            <label for="standardRoom" class="form-label">Tiêu chuẩn phòng</label>
                            <input th:field="*{standardRoom}"  class="form-control" id="standardRoom">
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3">
                            <label for="descriptionOtherConvenience" class="form-label">Mô tả tiện nghi khác</label>
                            <input th:field="*{descriptionOtherConvenience}"  class="form-control" id="descriptionOtherConvenience">
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3">
                            <label for="poolArea" class="form-label">Diện tích hồ bơi</label>
                            <input th:field="*{poolArea}"  class="form-control" id="poolArea">
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3">
                            <label for="numberOfFloors" class="form-label">Số tầng</label>
                            <input th:field="*{numberOfFloors}"  class="form-control" id="numberOfFloors">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary">Chỉnh sửa</button>
                        </div>
                    </div>

                </form>
            </div>
            <div th:if="${rentTypeName.equals('House')}" class="tab-pane fade" id="pills-house" role="tabpanel" aria-labelledby="pills-house-tab">
                <form th:object="${facility}" class=" g-3" th:action="@{/facility/create}" method="post">
                    <div class="row" hidden>
                        <div class="mb-3">
                            <label for="idHouse" class="form-label">Mã dịch vụ</label>
                            <input th:field="*{id}"  class="form-control" id="idHouse" >
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3">
                            <label for="nameHouse" class="form-label">Tiêu tên dịch vụ</label>
                            <input th:field="*{name}"  class="form-control" id="nameHouse">
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3">
                            <label for="areaHouse" class="form-label">Diện tích sử dụng</label>
                            <input th:field="*{area}"  class="form-control" id="areaHouse">
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3">
                            <label for="costHouse" class="form-label">Chi phí thuê</label>
                            <input th:field="*{cost}"  class="form-control" id="costHouse">
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3">
                            <label for="maxPeopleHouse" class="form-label">Số lượng người tối đa</label>
                            <input th:field="*{maxPeople}"  class="form-control" id="maxPeopleHouse">
                        </div>
                    </div>

                    <div class="row">
                        <div class="mb-3">
                            <label for="rentTypeHouse" class="form-label">Kiểu thuê</label>
                            <select th:field="*{rentType}" class="form-select" aria-label=".form-select-lg example" id="rentTypeHouse">
                                <option th:each="rentType: ${rentTypeList}" th:text="${rentType.getName()}" th:value="${rentType.getId()}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3">
                            <label for="standardRoomHouse" class="form-label">Tiêu chuẩn phòng</label>
                            <input th:field="*{standardRoom}"  class="form-control" id="standardRoomHouse">
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3">
                            <label for="descriptionOtherConvenienceHouse" class="form-label">Mô tả tiện nghi khác</label>
                            <input th:field="*{descriptionOtherConvenience}"  class="form-control" id="descriptionOtherConvenienceHouse">
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3">
                            <label for="numberOfFloorsHouse" class="form-label">Số tầng</label>
                            <input th:field="*{numberOfFloors}"  class="form-control" id="numberOfFloorsHouse">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary">Chỉnh sửa</button>
                        </div>
                    </div>

                </form>
            </div>
            <div th:if="${rentTypeName.equals('Room')}" class="tab-pane fade" id="pills-room" role="tabpanel" aria-labelledby="pills-room-tab">
                <form th:object="${facility}" class=" g-3" th:action="@{/facility/create}" method="post">
                    <div class="row" hidden>
                        <div class="mb-3">
                            <label for="idRoom" class="form-label">Mã dịch vụ</label>
                            <input th:field="*{id}"  class="form-control" id="idRoom" >
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3">
                            <label for="nameRoom" class="form-label">Tên dịch vụ</label>
                            <input th:field="*{name}"  class="form-control" id="nameRoom">
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3">
                            <label for="areaRoom" class="form-label">Diện tích sử dụng</label>
                            <input th:field="*{area}"  class="form-control" id="areaRoom">
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3">
                            <label for="costRoom" class="form-label">Chi phí thuê</label>
                            <input th:field="*{cost}"  class="form-control" id="costRoom">
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3">
                            <label for="maxPeopleRoom" class="form-label">Số lượng người tối đa</label>
                            <input th:field="*{maxPeople}"  class="form-control" id="maxPeopleRoom">
                        </div>
                    </div>

                    <div class="row">
                        <div class="mb-3">
                            <label for="rentType" class="form-label">Kiểu thuê</label>
                            <select th:field="*{rentType}" class="form-select" aria-label=".form-select-lg example" id="rentType">
                                <option th:each="rentType: ${rentTypeList}" th:text="${rentType.getName()}" th:value="${rentType.getId()}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3">
                            <label for="facilityFree" class="form-label">Dịch vụ miễn phí đi kèm</label>
                            <input th:field="*{facilityFree}"  class="form-control" id="facilityFree">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary">Chỉnh sửa</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>