<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Danh sách nhân viên</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        a {
            text-decoration: none;
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <div th:insert="header"></div>

    <!--    <h4 th:text="#{mess}"></h4>-->
    <h1 style="text-align: center">Danh sách nhân viên</h1>
    <div class="row" style="margin: 10px">
        <form style="display: flex" th:action="@{/employee/list}" method="get" >
            <div class="col-2">
                <button class="btn btn-success">
                    <a th:href="@{/employee/create}" style="color: #ffffff; text-decoration: none">Thêm mới nhân viên</a>
                </button>
            </div>

<!--            <div class="col-2">-->
<!--                <select class="form-select" aria-label="Default select example" name="idCategory">-->
<!--                    <option value="">Tất cả</option>-->
<!--                    <option th:each="category: ${categoryList}" th:text="${category.getName()}"-->
<!--                            th:value="${category.getId()}"></option>-->
<!--                </select>-->
<!--            </div>-->
            <div class="col-5">
                <div class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                    <input type="search" class="form-control" placeholder="Nhập tên nhân viên" name="searchName"
                           th:value="${searchName}">
                </div>
            </div>
            <div class="col-3">
                <button type="submit" class="btn btn-light ">Tìm kiếm</button>

            </div>
        </form>

    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">STT</th>
            <th scope="col">Mã nhân viên</th>
            <th scope="col">Họ tên</th>
            <th scope="col">Ngày sinh</th>
            <th scope="col">CCCD</th>
            <th scope="col">Lương</th>
            <th scope="col">Số điện thoại</th>
            <th scope="col">Email</th>
            <th scope="col">Địa chi</th>
            <th scope="col">Bộ phận làm việc</th>
            <th scope="col">Vị trí</th>
            <th scope="col">Học vấn</th>
            <th colspan="2">Thao tác</th>
            <th scope="col">
                <button  id="btn" type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                         data-bs-toggle="modal" data-bs-target="#deleteModals">Xoá nhiều</button>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="employee,row :${employeePage}">
            <td th:text="${row.count}"></td>
            <td th:text="${employee.getId()}"></td>
            <td th:text="${employee.getName()}"></td>
            <td th:text="${employee.getBirthday()}"></td>
            <td th:text="${employee.getIdCard()}"></td>
            <td th:text="${employee.getSalary()}"></td>
            <td th:text="${employee.getPhoneNumber()}"></td>
            <td th:text="${employee.getEmail()}"></td>
            <td th:text="${employee.getAddress()}"></td>
            <td th:text="${employee.getDivision().getName()}"></td>
            <td th:text="${employee.getPosition().getName()}"></td>
            <td th:text="${employee.getEducationDegree().getName()}"></td>
            <td>
                <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#detailBlog"
                        th:attr="onclick=|showBlogDetail('${employee.getName()}','${employee.getName()}')|">
                    Xem nội dung
                </button>
            </td>
            <td>
                <button class="btn btn-warning">
                    <a th:href="@{/employee/update(id=${employee.getId()})}">Cập nhật</a>
                </button>
            </td>
            <td>
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal"
                        th:attr="onclick=|deleteBlog('${employee.getId()}','${employee.getName()}')|"> Xoá
                </button>
            </td>
            <td>
                <input  name="idDelete" class="form-check-input" type="checkbox" th:value="${employee.getId()}">
            </td>
        </tr>
        <tr th:if="${employeePage.isEmpty()}">
            <td colspan="9">Danh sách trống</td>
<!--        </tr>-->
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item"><a class="page-link"
                                     th:href="@{list(page=${employeePage.number - 1})}"
                                     th:if="${employeePage.hasPrevious()}">Previous</a></li>
            <li class="page-item">
                <span th:text="${employeePage.number+1}"></span>/<span th:text="${employeePage.totalPages}"></span>
            </li>

            <li class="page-item"><a class="page-link"
                                     th:href="@{list(page=${employeePage.number + 1})}"
                                     th:if="${employeePage.hasNext()}">Next</a></li>
        </ul>
    </nav>

    <!--    Modal delete-->
    <div class="modal fade" id="deleteModal" data-bs-backdrop="static" data-bs-keyboard="false"
         tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Sa thải nhân viên</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Bạn có muốn xoá : <span id="titleEmployeeDelete"></span> ?
                </div>
                <form action="/employee/delete" method="get">
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng
                        </button>
                        <button type="submit" class="btn btn-danger">Sa thải</button>
                        <input hidden name="id" type="text" id="idDelete">
                        <input hidden name="action" value="delete" type="text" id="">

                    </div>
                </form>

            </div>
        </div>
    </div>
    <!--    Xoá nhiều Record-->
    <!--    Modal deletes-->
    <div class="modal fade" id="deleteModals" data-bs-backdrop="static" data-bs-keyboard="false"
         tabindex="-1" aria-labelledby="staticBackdropLabel1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel1">Xoá Blog</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
<!--                    Bạn có muốn xoá employee có mã : <span id="titleBlogDeletes"></span> ?-->
                    Bạn có muốn xoá các mục đã chọn ?
                </div>
                <form action="/employee/deletes" method="get">
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng
                        </button>
                        <button type="submit" class="btn btn-danger">Xoá</button>
                        <input hidden type="text" id="idDeleteMore" name="idDeleteMore">

                    </div>
                </form>

            </div>
        </div>
    </div>

    <!--  Modal detail-->
    <div class="modal fade" id="detailBlog" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"> Chi tiết Blog</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-4"><h5>Tiêu đề</h5></div>
                            <h5></h5>
                            <div class="col-md-8 ms-auto" id="showTitle"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"><h5>Nội dung</h5></div>
                            <h5></h5>
                            <div class="col-md-8 ms-auto" id="showContent"></div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script th:inline="javascript">
    function deleteBlog(id, name) {
        document.getElementById('titleEmployeeDelete').innerText = name;
        document.getElementById('idDelete').value = id;
    }

    function showBlogDetail(title, content) {
        document.getElementById("showTitle").innerText = title;
        document.getElementById("showContent").innerText = content;

    }
    //Bắt sự kiện nhấn nút xoá nhiều
    document.getElementById('btn').onclick = function()
    {
        var checkbox = document.getElementsByName('idDelete');
        var result = "";
        for (var i = 0; i < checkbox.length; i++){
            if (checkbox[i].checked === true){
                result += '.'+checkbox[i].value;
            }
        }
        document.getElementById('idDeleteMore').value = result;
    };
    const checkboxs = document.getElementsByName('idDelete');
    checkboxs.addEventListener('change', (event) => {
        if (event.currentTarget.checked) {
            alert('checked');
        } else {
            alert('not checked');
        }
    })
</script>
</body>
</html>