<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chỉnh sửa thông tin nhân viên</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body>
<div class="container">
    <div style="text-align: center">
        <h3>Chỉnh sửa thông tin nhân viên</h3>
    </div>
    <div class="">
        <button class="btn btn-success">
            <a th:href="@{/employee/list}" style="color: #ffffff; text-decoration: none">Quay lại</a>
        </button>
    </div>
    <form th:object="${employee}" th:action="@{/employee/create}" method="post">
        <div class="row" hidden>
            <div class="mb-3">
                <label for="id" class="form-label">Mã nhân viên</label>
                <input  th:field="*{id}"  class="form-control" id="id" >
            </div>
        </div>
        <div class="row">
            <div class="mb-3">
                <label for="name" class="form-label">Họ tên</label>
                <input th:field="*{name}"  class="form-control" id="name">
            </div>
        </div>
        <div hidden class="row">
            <div class="mb-3">
                <label for="birthday" class="form-label">Ngày sinh</label>
                <input th:field="*{birthday}" class="form-control" id="birthday" >
            </div>
        </div>
        <div  class="row">
            <div class="mb-3">
                <label for="" class="form-label">Ngày sinh</label>
                <input type="date" max="2005-01-01" min="1950-01-01" class="form-control" id="" name="date" >
            </div>
        </div>
        <div class="row">
            <div class="mb-3">
                <label for="idCard" class="form-label">Số CMND</label>
                <input th:field="*{idCard}" class="form-control" id="idCard">
            </div>
        </div>
        <div class="row">
            <div class="mb-3">
                <label for="salary" class="form-label">Lương</label>
                <input th:field="*{salary}" class="form-control" id="salary">
            </div>
        </div>
        <div class="row">
            <div class="mb-3">
                <label for="phoneNumber" class="form-label">Số điện thoại</label>
                <input th:field="*{phoneNumber}" class="form-control" id="phoneNumber">
            </div>
        </div>
        <div class="row">
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input th:field="*{email}" class="form-control" id="email">
            </div>
        </div>
        <div class="row">
            <div class="mb-3">
                <label for="address" class="form-label">Địa chỉ</label>
                <input th:field="*{address}" class="form-control" id="address">
            </div>
        </div>
        <div class="row">
            <div class="mb-3">
                <label for="division" class="form-label">Danh sách blog</label>
                <select th:field="*{division}" class="form-select" aria-label=".form-select-lg example" id="division">
                    <option th:each="division: ${divisionList}" th:text="${division.getName()}" th:value="${division.getId()}"></option>
                </select>
            </div>
        </div><div class="row">
        <div class="mb-3">
            <label for="position" class="form-label">Danh sách blog</label>
            <select th:field="*{position}" class="form-select" aria-label=".form-select-lg example" id="position">
                <option th:each="position: ${positionList}" th:text="${position.getName()}" th:value="${position.getId()}"></option>
            </select>
        </div>
    </div>
        <div class="row">
            <div class="mb-3">
                <label for="educationDegree" class="form-label">Danh sách blog</label>
                <select th:field="*{educationDegree}" class="form-select" aria-label=".form-select-lg example" id="educationDegree">
                    <option th:each="educationDegree: ${educationDegreeList}" th:text="${educationDegree.getName()}" th:value="${educationDegree.getId()}"></option>
                </select>
            </div>
        </div>

        <button class="btn btn-success" style="color: aliceblue">Thêm nhân viên mới</button>
    </form>
</div>
</body>
</html>