<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Danh sách sản phẩm</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        a {
            text-decoration: none;

        }
    </style>
</head>
<body>
<div class="container">
    <!--    <h4 th:text="#{mess}"></h4>-->

    <div class="row" style="margin: 10px">
        <div class="col-3">
            <button class="btn btn-success">
                <a th:href="@{/music/create}" style="color: #ffffff; text-decoration: none">Thêm mới</a>
            </button>
        </div>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">STT</th>
            <th scope="col">Mã bài hát</th>
            <th scope="col">Tên bài hát</th>
            <th scope="col">Thể loại</th>
            <th scope="col">Link bài hát</th>
            <th scope="col">Phát nhạc</th>
            <th colspan="2">Thao tác</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="song,row : ${songList}">
            <td th:text="${row.count}"></td>
            <td th:text="${song.getId()}"></td>
            <td th:text="${song.getName()}"></td>
            <td th:text="${song.getMusicGenre()}"></td>
<!--            <td th:text="${song.getFilePath()}"></td>-->
            <td th:text="${song.getFilePath()}"></td>
            <td>
                <button class="btn btn-success">Phát nhạc</button>
            </td>

            <td>
                <button class="btn btn-warning">
                    <a th:href="@{/music/update(id=${song.getId()})}">Cập nhật</a>
                </button>
            </td>
            <td>
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal"
                        th:attr="onclick=|deleteSong('${song.getId()}','${song.getName()}')|"> Xoá
                </button>
            </td>
        </tr>
        <tr th:if="${songList.isEmpty()}">
            <td colspan="9">Danh sách trống</td>
        </tr>
        </tbody>
    </table>
    <!--    Modal delete-->
    <div class="modal fade" id="deleteModal" data-bs-backdrop="static" data-bs-keyboard="false"
         tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Xoá sản phẩm</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Bạn có muốn xoá sản phẩm <span id="nameProductDelete"></span> ?
                </div>
                <form action="/music/delete" method="get">
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng
                        </button>
                        <button type="submit" class="btn btn-danger">Xoá</button>
                        <input hidden name="id" type="text" id="idDelete">
                        <input hidden name="action" value="delete" type="text" id="">

                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script th:inline="javascript">
    function deleteSong(id, name) {
        document.getElementById('nameProductDelete').innerText = name;
        document.getElementById('idDelete').value = id;
    }


</script>
</body>
</html>